<a href="https://colab.research.google.com/github/whataLIN/sample_rp/blob/main/pet_happiness_map.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# 반려견 ---- ----

In [ ]:
# 라이브러리 및 모듈 불러오기
# 분석 기본 라이브러리
import pandas as pd
import numpy as np

# 시각화
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [ ]:
# 한글 폰트 지원
import platform

from matplotlib import font_manager, rc
plt.rcParams['axes.unicode_minus'] = False

if platform.system() == 'Darwin':
    rc('font', family='AppleGothic')
elif platform.system() == 'Windows':
    path = "c:/Windows/Fonts/malgun.ttf"
    font_name = font_manager.FontProperties(fname=path).get_name()
    rc('font', family=font_name)
else:
    print('Unknown system')


# 한글 폰트 처리
!sudo apt-get install -y fonts-nanum
!sudo fc-cache -fv
!rm ~/.cache/matplotlib -rf

# 기본 폰트를 나.바.고로 세팅
import matplotlib.pyplot as plt
plt.rc('font', family='NanumBarunGothic')

Unknown system
Reading package lists... Done
Building dependency tree
Reading state information... Done
The following NEW packages will be installed:
  fonts-nanum
0 upgraded, 1 newly installed, 0 to remove and 19 not upgraded.
Need to get 9,599 kB of archives.
After this operation, 29.6 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu focal/universe amd64 fonts-nanum all 20180306-3 [9,599 kB]
Fetched 9,599 kB in 2s (5,577 kB/s)
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 76, <> line 1.)
debconf: falling back to frontend: Readline
debconf: unable to initialize frontend: Readline
debconf: (This frontend requires a controlling tty.)
debconf: falling back to frontend: Teletype
dpkg-preconfigure: unable to re-open stdin:
Selecting previously unselected package fonts-nanum.
(Reading database ... 128208 files and directories currently installed.)
Preparing to unpack .../fonts-nanum_20180306-3_all.deb ...
Unpacking fonts-nanum (20180306-3) ...
Setting up fonts-nanum (20180306-3) ...
Processing triggers for fontconfig (2.13.1-2ubuntu3) ...
/usr/share/fonts: caching, new cache contents: 0 fonts, 1 dirs
/usr/share/fonts/truetype: caching, new cache contents: 0 fonts, 3 dirs
/usr/share/fonts/truetype/humor-sans: caching, new cache contents: 1 fonts, 0 dirs
/usr/share/fonts/truetype/liberation: caching, new cache contents: 16 fonts, 0 dirs
/usr/share/fonts/truetype/nanum: caching, new cache contents: 10 fonts, 0 dirs
/usr/local/share/fonts: caching, new cache contents: 0 fonts, 0 dirs
/root/.local/share/fonts: skipping, no such directory
/root/.fonts: skipping, no such directory
/usr/share/fonts/truetype: skipping, looped directory detected
/usr/share/fonts/truetype/humor-sans: skipping, looped directory detected
/usr/share/fonts/truetype/liberation: skipping, looped directory detected
/usr/share/fonts/truetype/nanum: skipping, looped directory detected
/var/cache/fontconfig: cleaning cache directory
/root/.cache/fontconfig: not cleaning non-existent cache directory
/root/.fontconfig: not cleaning non-existent cache directory
fc-cache: succeeded

In [ ]:
!cd drive/My Drive/팀1

/bin/bash: line 0: cd: too many arguments

In [ ]:
# 파일 불러오기


# 서울시 동물병원 파일 불러오기
seoul_pet_hospital = pd.read_csv('data/서울시_동물병원.csv')
# 서울시 애견미용업장 파일 불러오기
seoul_pet_beauty = pd.read_excel('data/서울시 애견미용업장.xls')
# 서울시 애견위탁관리 파일 불러오기
seoul_pet_consignment = pd.read_csv('data/동물위탁관리업.csv', encoding = 'cp949')
# 서울시 주요 공원 현황 파일 불러오기
seoul_park = pd.read_csv('data/서울시 주요 공원현황.csv', encoding = 'cp949')
# 반려동물 유무 비율 보유 파일 불러오기
seoul_pet_own = pd.read_csv('data/반려동물+유무+및+취득+경로_20230314161547.csv')



# 데이터 출처 :

FileNotFoundError: ignored

In [ ]:
# 서울시 동물병원 파일 불러오기
# 번호, 개방서비스명, 개방서비스아이디, 개방자치단체코드, 관리번호, 인허가 일자, 영업상태구분코드, 영업상태명
seoul_pet_hospital

,번호,개방서비스명,개방서비스아이디,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태구분코드,영업상태명,상세영업상태코드,...,최종수정시점,데이터갱신구분,데이터갱신일자,업태구분명,좌표정보(x),좌표정보(y),업무구분명,상세업무구분명,권리주체일련번호,총직원수
0,1,동물병원,02_03_01_P,3620000,3.620000e+17,2012-12-24,NaN,3,폐업,2,...,2021-10-31 19:10,U,2021-11-02 2:40,NaN,194205.7500,185704.2450,동물병원,NaN,0,0.0
1,2,동물병원,02_03_01_P,3620000,3.620000e+17,2013-03-12,NaN,3,폐업,2,...,2014-12-17 8:54,I,2018-08-31 23:59,NaN,187131.9586,189712.3100,동물병원,NaN,0,NaN
2,3,동물병원,02_03_01_P,3620000,3.620000e+17,2016-01-21,NaN,3,폐업,2,...,2017-01-03 14:31,I,2018-08-31 23:59,NaN,189132.5237,191478.4166,동물병원,NaN,L00,NaN
3,4,동물병원,02_03_01_P,3620000,3.620000e+17,1991-07-10,NaN,3,폐업,2,...,2019-01-22 16:47,U,2019-01-24 2:40,NaN,188395.4757,189857.2852,동물병원,NaN,0,NaN
4,5,동물병원,02_03_01_P,3620000,3.620000e+17,1996-04-17,NaN,3,폐업,2,...,2023-02-02 15:16,U,2023-02-04 2:40,NaN,192872.0971,185795.7061,동물병원,NaN,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9629,9630,동물병원,02_03_01_P,3990000,3.990000e+17,2022-05-19,NaN,1,영업/정상,0,...,2022-09-19 17:47,U,2022-09-21 2:40,NaN,218023.8985,466105.9958,동물병원,NaN,0,0.0
9630,9631,동물병원,02_03_01_P,3640000,3.640000e+17,2022-05-19,NaN,1,영업/정상,0,...,2022-05-19 18:11,I,2022-05-21 0:22,NaN,238808.7508,317465.3316,동물병원,NaN,0,0.0
9631,9632,동물병원,02_03_01_P,3340000,3.340000e+17,2022-05-19,NaN,1,영업/정상,0,...,2022-12-30 16:16,U,2023-01-01 2:40,NaN,379594.3462,177529.7771,동물병원,NaN,0,0.0
9632,9633,동물병원,02_03_01_P,3560000,3.560000e+17,2022-05-23,NaN,1,영업/정상,0,...,2022-05-23 11:28,I,2022-05-25 0:22,NaN,NaN,NaN,동물병원,NaN,0,0.0
9633,9634,동물병원,02_03_01_P,3230000,3.230000e+17,2022-05-23,NaN,1,영업/정상,0,...,2022-05-23 17:55,I,2022-05-25 0:22,NaN,209960.6699,444566.3446,동물병원,NaN,0,0.0

In [ ]:
# 서울시 애견미용업장 파일 불러오기
# 번호, 구분, 업체명, 소재지
seoul_pet_beauty

,번호,구분,업체명,소재지,인허가 정보,이전인허가정보
0,1,미용,펫힐링센터,서울특별시 종로구 부암동,300000004920230001,NaN
1,2,미용,올리브동물병원,서울특별시 종로구 홍지동,300000004920220001,NaN
2,3,미용,"사계절, 몽",서울특별시 종로구 숭인동,300000004920210002,3.000000e+17
3,4,미용,허그댕댕,서울특별시 종로구 창신동,300000004920210001,3.000000e+17
4,5,미용,한국반려동물아카데미뷰티샵,서울특별시 종로구 숭인동,300000004920190006,3.000000e+17
...,...,...,...,...,...,...
1467,1468,미용,펫클럽,서울특별시 강동구 명일동,324000004920180009,3.240000e+17
1468,1469,미용,다래 동물병원,서울특별시 강동구 천호동,324000004920180008,3.240000e+17
1469,1470,미용,비주독아카데미앤샵,서울특별시 강동구 성내동,324000004920180010,3.240000e+17
1470,1471,미용,사랑이있는동물병원,서울특별시 강동구 명일동,324000004920180007,3.240000e+17
1471,1472,미용,석 동물병원,서울특별시 강동구 성내동,324000004920180004,3.240000e+17

In [ ]:
# 서울시 애견 미용업장 파일 복사
spb = seoul_pet_beauty.copy()
spb

,번호,구분,업체명,소재지,인허가 정보,이전인허가정보
0,1,미용,펫힐링센터,서울특별시 종로구 부암동,300000004920230001,NaN
1,2,미용,올리브동물병원,서울특별시 종로구 홍지동,300000004920220001,NaN
2,3,미용,"사계절, 몽",서울특별시 종로구 숭인동,300000004920210002,3.000000e+17
3,4,미용,허그댕댕,서울특별시 종로구 창신동,300000004920210001,3.000000e+17
4,5,미용,한국반려동물아카데미뷰티샵,서울특별시 종로구 숭인동,300000004920190006,3.000000e+17
...,...,...,...,...,...,...
1467,1468,미용,펫클럽,서울특별시 강동구 명일동,324000004920180009,3.240000e+17
1468,1469,미용,다래 동물병원,서울특별시 강동구 천호동,324000004920180008,3.240000e+17
1469,1470,미용,비주독아카데미앤샵,서울특별시 강동구 성내동,324000004920180010,3.240000e+17
1470,1471,미용,사랑이있는동물병원,서울특별시 강동구 명일동,324000004920180007,3.240000e+17
1471,1472,미용,석 동물병원,서울특별시 강동구 성내동,324000004920180004,3.240000e+17

In [ ]:
# 인허가 정보 컬럼들 제거
cols1 = ["번호", "인허가 정보", "이전인허가정보"]

for col in cols1:
    del spb[col]

In [ ]:
# 0번째 로우 삭제
spb.drop(0, inplace = True)
spb

          구분            업체명             소재지
1         미용        올리브동물병원   서울특별시 종로구 홍지동
2         미용         사계절, 몽   서울특별시 종로구 숭인동
3         미용           허그댕댕   서울특별시 종로구 창신동
4         미용  한국반려동물아카데미뷰티샵   서울특별시 종로구 숭인동
5      판매 미용            레인독  서울특별시 종로구 명륜2가
...      ...            ...             ...
1467      미용            펫클럽   서울특별시 강동구 명일동
1468      미용        다래 동물병원   서울특별시 강동구 천호동
1469      미용      비주독아카데미앤샵   서울특별시 강동구 성내동
1470      미용      사랑이있는동물병원   서울특별시 강동구 명일동
1471      미용         석 동물병원   서울특별시 강동구 성내동

[1471 rows x 3 columns]

In [ ]:
python

import csv # CSV 파일 열기 with open('file.csv', 'r', newline='') as csvfile: 
# CSV 파일 읽기 reader = csv.reader(csvfile) # 첫번째 줄은 헤더로 패스 next(reader) # CSV 파일의 내용을 리스트로 저장 rows = list(reader) 
# 바꾸고자 하는 내용 정의 old_value = 'old' new_value = 'new' 
# CSV 파일의 특정 열에 있는 값을 바꾸기 for row in rows: if row[0] == old_value: row[0] = new_value 
# 바뀐 내용을 CSV 파일에 쓰기 with open('file.csv', 'w', newline='') as csvfile: 
# CSV 파일 쓰기 writer = csv.writer(csvfile) # 첫번째 줄에 헤더 쓰기 writer.writerow(['Column1', 'Column2', 'Column3']) 
# 리스트에 있는 내용을 CSV 파일에 쓰기 for row in rows: writer.writerow(row)

In [ ]:
import pandas as pd
[:-4]
data = ['서울특별시 용산구', '서울특별시 관악구', '서울특별시 노량진구']

# 특정 문자열을 지우기
for i in range(len(data)):
    data[i] = data[i].replace('서울특별시', '').replace('구', '')
print(data)

data = ['서울시 용산구', '서울시 관악구', '서울시 노량진구']
# 특정 문자열을 지우기
for i in range(len(data)):
    data[i] = data[i].replace('서울시', '').replace('구', '').strip()
print(data)

# 'city' 컬럼에서 'Los'를 포함한 데이터 제거
spb = spb[~spb['소재지'].str.contains('동')]


# 'city' 컬럼에서 'Los'를 포함하면서 그 앞의 단어만 남기고 뒤의 단어는 제거
spb['소재지'] = spb['소재지'].str.replace(r'(\w+)\s+서울특별시\s+(\w+)', r'\1 서울특별시', regex=True)

print(df)


print(df)


# 2. "국적" 컬럼이 대륙 이름인 컬럼을 제거하고 국가만 남기기
ignore_list = ["서울특별시 종로구 홍지동", "숭인동","창신동", "명륜2가","명일동","천호동"]

# 2-1. "국적" 컬럼이 대륙 이름(ignore_list)인 로우 검색하기
spb.loc[spb['소재지'].isin(ignore_list)]

# 2-2. "국적" 컬럼이 대륙 이름인 컬럼을 제거하고 df에 저장하기
#spb = spb.loc[~spb['국적'].isin(["홍지동", "숭인동","창신동", "명륜2가","명일동","천호동","성내동"]), :]

          구분      업체명            소재지
1         미용  올리브동물병원  서울특별시 종로구 홍지동
14   위탁관리 미용   북악동물병원  서울특별시 종로구 홍지동

In [ ]:
# spb = spb[spb.전출지역 != '전국']
# spb = spb[spb.전입지역 != '전국']

spb_2 = spb.groupby([spb["구분"], spb["소재지"]])
spb_2

In [ ]:
spb2.count()

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

Traceback (most recent call last):
  File "/usr/local/lib/python3.9/dist-packages/IPython/core/interactiveshell.py", line 3326, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-76-43a17cb4eb09>", line 1, in <module>
    spb2.count()
NameError: name 'spb2' is not defined

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.9/dist-packages/IPython/core/interactiveshell.py", line 2040, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'NameError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.9/dist-packages/IPython/core/ultratb.py", line 1101, in get_records
    return _fixed_getinnerframes(etb, number_of_lines_of_context, tb_offset)
  File "/usr/local/lib/python3.9/dist-packages/IPython/core/ultratb.py", line 319, in wrapped
    return f(*args, **kwargs)
  File "/usr/local/lib/python3.9/dist-packages/IPython/core/ultratb.py", line 353, in _fixed_getinnerframes
    records = fix_frame_records_filenames(inspect.getinnerframes(etb, context))
  File "/usr/lib/python3.9/inspect.py", line 1543, in getinnerframes
    frameinfo = (tb.tb_frame,) + getframeinfo(tb, context)
  File "/usr/lib/python3.9/inspect.py", line 1501, in getframeinfo
    filename = getsourcefile(frame) or getfile(frame)
  File "/usr/lib/python3.9/inspect.py", line 709, in getsourcefile
    if getattr(getmodule(object, filename), '__loader__', None) is not None:
  File "/usr/lib/python3.9/inspect.py", line 738, in getmodule
    file = getabsfile(object, _filename)
  File "/usr/lib/python3.9/inspect.py", line 722, in getabsfile
    return os.path.normcase(os.path.abspath(_filename))
  File "/usr/lib/python3.9/posixpath.py", line 380, in abspath
    cwd = os.getcwd()
OSError: [Errno 107] Transport endpoint is not connected

NameError: ignored

In [ ]:
# 서울시 애견위탁관리 파일 불러오기
# 번호, 구분(위탁관리 포함된 문자만), 업체명, 소재지
seoul_pet_consignment

,번호,구분,업체명,소재지,인허가 정보,이전인허가정보
0,1,위탁관리,펫힐링센터,서울특별시 종로구 부암동,300000004820230001,NaN
1,2,위탁관리,강아지대학로,서울특별시 종로구 동숭동,300000004820200002,3.000000e+17
2,3,판매 전시 위탁관리 미용,미션코리아,서울특별시 종로구 효제동,300000004820180017,3.000000e+17
3,4,위탁관리 미용,경희궁바른동물병원,서울특별시 종로구 홍파동,300000004820180010,3.000000e+17
4,5,위탁관리 미용,월드펫동물병원,서울특별시 종로구 신영동,300000004820180008,3.000000e+17
...,...,...,...,...,...,...
705,706,위탁관리,내품에동물병원,서울특별시 강동구 성내동,324000004820180026,3.240000e+17
706,707,위탁관리,방주동물의료센터,서울특별시 강동구 성내동,324000004820180022,3.240000e+17
707,708,위탁관리,미드미 동물의료센터,서울특별시 강동구 명일동,324000004820180019,3.240000e+17
708,709,위탁관리,동물병원 공감,서울특별시 강동구 천호동,324000004820180015,3.240000e+17
709,710,위탁관리,가람동물병원,서울특별시 강동구 성내동,324000004820180012,3.240000e+17

In [ ]:
# 서울시 주요 공원 현황 파일 불러오기
# 연번, 공원명, 공원개요("맑은 공기"), 면적, 주요 시설, 주요 식물, 공원주소, 관리부서, 전화번호, 바로가기
seoul_park

,연번,공원명,공원개요,면적,개원일,주요시설,주요식물,안내도,오시는길,이용시참고사항,이미지,지역,공원주소,관리부서,전화번호,X좌표(GRS80TM),Y좌표(GRS80TM),X좌표(WGS84),Y좌표(WGS84),바로가기
0,1,남산도시자연공원,남산공원은 도심에 위치하여 서울시민에게 맑은 공기를 제공하는 자연휴식처이며 산책 꽃...,2896887㎡ 임 야 : 2454140㎡ 녹지대 및 기타시설 : 442747㎡,1968.9.10,기반시설 : 광장 45950㎡ 도로 108530㎡ 산책로 6.7㎞ (북측:3.7㎞/...,소나무 단풍 아카시아 상수리나무 등 191종 2881870주,http://parks.seoul.go.kr/upload/seditorMulti/2...,명동역(남산케이블카 와룡묘 서울애니메이션센터 방면) 도보 명동역 3번출구 → 퍼시픽...,남산공원 차량통행 금지안내 2005년 5월 1일부터 남산공원에 일반승용차 택시 통행...,http://parks.seoul.go.kr/file/info/view.do?fId...,중구,서울특별시 중구 삼일대로 231(예장동),서울특별시중부푸른도시사업소,02-3783-5900,198364.107000,4.503956e+05,126.990377,37.550140,http://parks.seoul.go.kr/template/sub/namsan.do
1,2,길동생태공원,길동생태공원은 생물의 서식처를 제공하고 종다양성을 증진시키며 자연생태계의 생물들을 ...,80683㎡,1999.5.20,탐방객안내소 야외전시대 관찰대 목재데크 조류관찰대 길동생태문화센터,소나무 보리수 등 64종 31800주 산국 부들 등 138종 192800본,http://parks.seoul.go.kr/template/common/img/p...,NaN,매주 월요일은 휴관입니다 사전예약 후 입장하실 수 있습니다. ▶ 인터넷 예약 바로가...,http://parks.seoul.go.kr/file/info/view.do?fId...,강동구,서울특별시 강동구 천호대로 1291(길동생태공원),동부공원녹지사업소 길동생태공원,02-489-2770,213554.120000,4.488527e+05,127.154779,37.540394,http://parks.seoul.go.kr/template/sub/gildong.do
2,3,서울대공원,서울대공원은 세계 각국의 야생동물들이 살아 숨 쉬는 서울동물원과 다양한 재미와 즐거...,9132690m²,1984.5.1,동물원 식물원 테마가든(장미원 어린이동물원 피크닉장) 치유숲 산림욕장 캠핑장 국립현...,NaN,NaN,지하철 4호선 대공원역 하차(2번 출구) 도보 15분 정도 문의처 02)500-73...,일반사항 공원을 깨끗하게 이용합니다. 대중교통을 이용해 주세요. 기념물 시설물 풀과...,http://parks.seoul.go.kr/file/info/view.do?fId...,과천시,경기도 과천시 대공원광장로 102,전략기획실,02-500-7032,200994.267000,4.371640e+05,127.019846,37.426449,http://grandpark.seoul.go.kr/
3,4,서울숲,당초 골프장 승마장 등이 있던 뚝섬일대를 주거업무 지역으로 개발할 경우 약 4조원에...,480994㎡,2005.6.18,4개 테마공원: 문화예술공원 자연생태숲 자연체험학습원 습지생태원 주요시설: 가족마당...,수 목 : 소나무 섬잣나무 계수나무 외 95종 415795주 식물원 : 선인장 등 ...,http://parks.seoul.go.kr/template/common/img/p...,NaN,지하철 분당선 서울숲역 3번출구 도보로 약5분 2호선 뚝섬역 8번출구 도보로 약 1...,http://parks.seoul.go.kr/file/info/view.do?fId...,성동구,서울특별시 성동구 뚝섬로 273 (성수동1가),서울숲 관리사무소,02-460-2905,203695.432000,4.492907e+05,127.041798,37.543072,http://parks.seoul.go.kr/template/sub/seoulfor...
4,5,월드컵공원,월드컵공원은 서울의 서쪽에 위치하여 1978년부터 1993년까지 15년간 서울시민이...,2284085㎡,2002.5.1,평화의 공원 월드컵공원전시관(879㎡) 유니세프광장(2400㎡) 평화광장(5217㎡...,NaN,http://parks.seoul.go.kr/template/common/img/p...,지하철 6호선 월드컵경기장역 하차 → 1번 출구로 나온 후 직진 → 큰길(도로)이 ...,일반사항 공원을 깨끗하게 이용합니다. 대중교통을 이용해 주세요. 기념물 시설물 풀과...,http://parks.seoul.go.kr/file/info/view.do?fId...,마포구,서울특별시 마포구 하늘공원로 84(월드컵공원),월드컵공원,02-300-5500,190658.070000,4.515988e+05,126.878907,37.571805,http://parks.seoul.go.kr/template/sub/worldcup...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127,128,용마도시자연공원(사가정공원),2005년 4월 13일 개장한 사가정공원은 면목동 산 50번지 일대의 면목약수터지구...,109635㎡,2005.4.13,피크닉장 놀이터 체력단련장 체육관,NaN,NaN,NaN,NaN,http://parks.seoul.go.kr/file/info/view.do?fId...,중랑구,서울특별시 중랑구 면목7동 산50,중랑구청 공원녹지과,02-2094-2993,NaN,NaN,127.095997,37.579762,NaN
128,129,문화비축기지,매봉산자락에 위치한 문화비축기지는 폐산업시설인 '마포석유비축기지'를 재생하여 역사적...,140022㎡,2017.9.1,6개의탱크와 문화마당 녹지,NaN,http://parks.seoul.go.kr/upload/seditorMulti/2...,NaN,? 일반사항 - 공원은 연중무휴이나 전시관은 월요일 휴관입니다. - 공원을 ...,http://parks.seoul.go.kr/file/info/view.do?fId...,마포구,서울특별시 마포구 증산로 87,문화비축기지,02-376-8410,114264.460400,3.712093e+06,126.893246,37.571718,http://parks.seoul.go.kr/template/sub/culturet...
129,130,경춘선숲길,일제 강점기때 우리 민족의 자본으로 만든 최초의 철도시설로 1939년 7월 25일 ...,211392㎡,NaN,조경시설 : 텃밭 잔디광장 철길 산책로 등 건축시설 : 무궁화호 객차(방문자센터) ...,NaN,NaN,지하철 이용시 지하철 7호선 하계역 4번출구 미성/장미아파트 도로 450m직진 지하...,○ 6.3km (시 작 점 : 육사삼거리 중간지점 : 화랑대사거리 → 화랑대...,http://parks.seoul.go.kr/file/info/view.do?fId...,NaN,노원구 공릉2동 산 82-2,중부공원녹지사업소,02-2289-4012,127.076482,3.762708e+01,127.076482,37.627077,NaN
130,131,율현공원,? 율현공원은 보금자리주택 세곡2지구 사업의 결과물로 만들어졌다. 공원은 주택지구의...,157535㎡,2016.11.1,관리시설 : 사무실 조경시설 : 정자(4개) 조형쉼터(10개) 조형파고라(3개) 수...,수목 : 소나무 이팝나무 등 110종 143069주 초화 : 맥문동 벌개미취 등...,http://parks.seoul.go.kr/upload/seditorMulti/2...,NaN,공원 인근에 서울공항 활주로가 위치하고 있어 공원 내에서 드론을 날리거나 헬륨가스 ...,http://parks.seoul.go.kr/file/info/view.do?fId...,강남구,서울특별시 강남구 율현동 밤고개로24길(율현동 56),동부공원녹지사업소,02-459-9452,NaN,NaN,127.115594,37.472332,NaN
131,132,서울로7017,서울로7017은 70년대 준공된 서울역 고가가 안전에 문제점이 도출되면서 철거가 될...,NaN,NaN,NaN,NaN,NaN,중림 만리동(서울로 종점부에서 진입) 지하철- 충정로(경기대입구) - 2 5호선 :...,NaN,http://parks.seoul.go.kr/file/info/view.do?fId...,중구,서울로7017,서울로운영단,02-313-7017,NaN,NaN,NaN,NaN,NaN

In [ ]:
# 반려동물 유무 비율 보유 파일 불러오기
# 구분별(서울시) 2021년 기준 반려동물 여부
seoul_pet_own

,구분별(1),구분별(2),2021,2021.1,2021.2,2021.3,2021.4,2021.5,2021.6,2021.7,2021.8
0,구분별(1),구분별(2),반려동물 여부,반려동물 여부,반려동물 취득경로,반려동물 취득경로,반려동물 취득경로,반려동물 취득경로,반려동물 취득경로,반려동물 취득경로,반려동물 취득경로
1,구분별(1),구분별(2),있다,없다,동물판매업소,유상입양,무상입양,인터넷을 통해 구입,유기동물 입양,원래 기르던 동물이 낳은 새끼,기타
2,서울시,소계,19.6,80.4,25.7,17.1,37.5,2.3,14.2,3.2,-
3,성별,남자,20.0,80.0,27.7,16.5,37.6,2.2,12.8,3.1,-
4,성별,여자,18.9,81.1,21.6,18.4,37.2,2.4,17.1,3.3,-
...,...,...,...,...,...,...,...,...,...,...,...
56,지역소분류,관악구,14.7,85.3,23.3,25.6,36.0,1.5,11.7,1.9,-
57,지역소분류,서초구,22.2,77.8,19.1,11.0,47.5,3.6,16.0,2.7,-
58,지역소분류,강남구,33.7,66.3,34.1,18.3,29.2,1.2,14.0,3.0,0.2
59,지역소분류,송파구,23.0,77.0,28.1,18.7,33.5,1.4,16.3,2.1,-
60,지역소분류,강동구,18.7,81.3,35.0,16.5,29.6,0.9,15.7,2.3,-